.btn-fixed {
    position: fixed;
    background: #7300ff;
    width: 200px;
    height: 60px;
    line-height: 45px;
    bottom: 10%;
    right: 3%;
    border-radius: 30px;
    text-align: center;
    box-shadow: 4px 4px 4px rgb(64, 56, 56);
    border: none;
  }
  .fixed-btn {
    text-transform: uppercase;
    font-family: cursive;
    font-weight: 900;
    font-size: larger;
    color: #fffcfc;
  }
  img {
    height: 50vh;
    width: fit-content;
  }